@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  --font-family: "Poppins", Inter, Avenir, Helvetica, Arial, sans-serif;
  --primary: rgb(55, 124, 251);
  --primary-focus: rgb(5, 87, 240);
  --success: rgb(102, 204, 138);
  --accent: rgb(234, 82, 52);
  --base-100: rgb(253, 253, 253);
  --base-150: rgb(247, 247, 247);
  --base-200: rgb(230, 230, 230);
  --base-300: rgb(217, 217, 222);
  --base-content: rgb(63, 66, 98);
  --base-drop-shadow: rgba(46, 55, 74, 0.1);
  --primary-drop-shadow: rgba(3, 69, 190, 0.6);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: var(--font-family);
  color: var(--base-content);
  font-size: 1.5rem;
  background-color: var(--base-150);
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

/*─────────────────────────────────────
 * Utilities
 *────────────────────────────────────*/
.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}
.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 6rem;
}
.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.font-2 {
  font-size: 2rem;
}
.font-4 {
  font-size: 4rem;
}
.font-5 {
  font-size: 5rem;
}
.font-7 {
  font-size: 7rem;
}

.spinner-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon--spiner {
  position: absolute;
  top: 44%;
  left: 44%;
  /* transform: translate(-50%, -50%); */
  -webkit-animation: rotate-center 0.8s ease-out infinite both;
  animation: rotate-center 0.8s ease-out infinite both;
  opacity: 0.27;
}

/*─────────────────────────────────────
 * elements
 *────────────────────────────────────*/
.navbar {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--base-100);
  box-shadow: 0px 0px 12px 2px var(--base-drop-shadow);
}

.navbar__countries {
  display: flex;
  gap: 1rem;
}

.navbar__heading {
  margin-left: 6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar__icon {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
}

.section {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 35rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 50;
  top: 8.4rem;
  right: -8rem;
  transform: translate(-50%);
}

.form {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.form__input {
  font-family: var(--font-family);
  color: var(--base-content);
  background-color: var(--base-100);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  padding: 1.4rem;
  font-size: 1.5rem;
  display: block;
  border-radius: 1.2rem;
  appearance: none;
  box-shadow: 0px 0px 12px 4px var(--base-drop-shadow);
}

.form__input:focus {
  outline: 2px solid var(--primary);
  box-shadow: 0px 0px 7.2px 1.6px var(--primary-drop-shadow);
}

.form__label {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 34%;
  right: 1.5rem;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 1.8rem;
  border: 2.4px solid var(--base-150);
  z-index: 0;
  box-shadow: 0px 0px 16px 4px var(--base-drop-shadow);
}

.weather-data-card {
  padding: 2.6rem 3rem;
  overflow-y: scroll;
  height: 25.8rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 16px 4px var(--base-drop-shadow);
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--base-content);
}

.weather-card__title {
  color: var(--primary-focus);
  text-transform: uppercase;
  font-size: 1.8rem;
}

.weather-data-card > * {
  display: flex;
  justify-content: space-between;
}

.weather-card__header {
  display: flex;
  justify-content: space-between;
}

.weather-card__icons {
  display: flex;
  gap: 2rem;
  padding: 0.6rem;
}

.weather-card__icons > * {
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.weather-card__icons .fa-bookmark:hover {
  color: var(--primary);
  transform: scale(1.15);
}
.weather-card__icons .fa-trash-can:hover {
  color: var(--accent);
  transform: scale(1.15);
}

body::-webkit-scrollbar,
.weather-data-card::-webkit-scrollbar {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--base-300);
}

body::-webkit-scrollbar,
.weather-data-card::-webkit-scrollbar-thumb {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--primary-drop-shadow);
}

.option {
  font-family: var(--font-family);
  font-size: 1.4rem;
  color: var(--base-content);
  background-color: var(--base-200);
}

/*─────────────────────────────────────
 * UI Messages
 *────────────────────────────────────*/
.font-succes {
  color: var(--success);
}

.message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.message--error {
  color: var(--accent);
}
.message--success {
  color: var(--success);
}

/*─────────────────────────────────────
 * elements
 *────────────────────────────────────*/
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
